In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import bar_chart_race as bcr

In [2]:
tm_json_file = 'ticket_master_attractions_data.json'
tm_json_file

'ticket_master_attractions_data.json'

In [3]:
tm_json = pd.read_json(tm_json_file)
tm_json
sort_tm_json = tm_json.sort_values(by='attraction_id', ascending=True)
sort_tm_json

,_id,attraction_name,full_lineup,segment,segment_id,genre,sub_genre,attraction_url,attraction_id,event_name,...,venue_id,venue_city,venue_state,venue_country,venue_longitude,venue_latitude,max_price,min_price,start_date,start_time
7332,660f39f2700d7cacc3f8d277,Kittie,"[Mötley Crüe, Limp Bizkit, Foo Fighters, Slipk...",Music,KZFzniwnSyZfZ7v7nJ,Rock,Alternative Rock,https://www.ticketmaster.com/kittie-tickets/ar...,K8vZ917103f,Welcome to Rockville,...,KovZpaK1re,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,NaN,NaN,2024-05-09,NaT
5231,660f39f1700d7cacc3f8ca42,Kittie,"[Mötley Crüe, Limp Bizkit, Foo Fighters, Slipk...",Music,KZFzniwnSyZfZ7v7nJ,Rock,Alternative Rock,https://www.ticketmaster.com/kittie-tickets/ar...,K8vZ917103f,Welcome to Rockville,...,KovZpaK1re,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,NaN,NaN,2024-05-09,NaT
3130,660f39f1700d7cacc3f8c20d,Kittie,"[Mötley Crüe, Limp Bizkit, Foo Fighters, Slipk...",Music,KZFzniwnSyZfZ7v7nJ,Rock,Alternative Rock,https://www.ticketmaster.com/kittie-tickets/ar...,K8vZ917103f,Welcome to Rockville,...,KovZpaK1re,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,NaN,NaN,2024-05-09,NaT
1029,660f39f0700d7cacc3f8b9d8,Kittie,"[Mötley Crüe, Limp Bizkit, Foo Fighters, Slipk...",Music,KZFzniwnSyZfZ7v7nJ,Rock,Alternative Rock,https://www.ticketmaster.com/kittie-tickets/ar...,K8vZ917103f,Welcome to Rockville,...,KovZpaK1re,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,NaN,NaN,2024-05-09,NaT
9433,660f39f2700d7cacc3f8daac,Kittie,"[Mötley Crüe, Limp Bizkit, Foo Fighters, Slipk...",Music,KZFzniwnSyZfZ7v7nJ,Rock,Alternative Rock,https://www.ticketmaster.com/kittie-tickets/ar...,K8vZ917103f,Welcome to Rockville,...,KovZpaK1re,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,NaN,NaN,2024-05-09,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,660f39f2700d7cacc3f8d0a5,WILLIS,[Friko],Music,KZFzniwnSyZfZ7v7nJ,Alternative,Alternative Rock,https://www.livenation.com/artist/K8vZfZ7tdtk/...,K8vZfZ7tdtk,WILLIS,...,KovZpapwne,Boston,Massachusetts,United States Of America,-71.132613,42.352900,17.0,17.0,2024-04-12,2024-04-07 19:00:00
6864,660f39f2700d7cacc3f8d0a3,WILLIS,[Friko],Music,KZFzniwnSyZfZ7v7nJ,Alternative,Alternative Rock,https://www.ticketmaster.com/willis-tickets/ar...,K8vZfZ7tdtk,WILLIS,...,KovZ917AI9w,Brooklyn,New York,United States Of America,-73.921930,40.707080,26.3,26.3,2024-04-13,2024-04-07 20:00:00
563,660f39f0700d7cacc3f8b806,WILLIS,[Friko],Music,KZFzniwnSyZfZ7v7nJ,Alternative,Alternative Rock,https://www.livenation.com/artist/K8vZfZ7tdtk/...,K8vZfZ7tdtk,WILLIS,...,KovZpapwne,Boston,Massachusetts,United States Of America,-71.132613,42.352900,17.0,17.0,2024-04-12,2024-04-07 19:00:00
8963,660f39f2700d7cacc3f8d8d6,WILLIS,[Friko],Music,KZFzniwnSyZfZ7v7nJ,Alternative,Alternative Rock,https://www.ticketmaster.com/willis-tickets/ar...,K8vZfZ7tdtk,WILLIS,...,KovZ917AinI,Washington,District of Columbia,United States Of America,-77.022410,38.918190,20.0,20.0,2024-04-14,2024-04-07 18:30:00
6862,660f39f2700d7cacc3f8d0a1,WILLIS,[Friko],Music,KZFzniwnSyZfZ7v7nJ,Alternative,Alternative Rock,https://www.ticketmaster.com/willis-tickets/ar...,K8vZfZ7tdtk,WILLIS,...,KovZ917AinI,Washington,District of Columbia,United States Of America,-77.022410,38.918190,20.0,20.0,2024-04-14,2024-04-07 18:30:00

In [4]:
tm_df = tm_json[['attraction_name',
                      'segment', 'genre', 
                      'sub_genre', 
                      'event_name', 
                      'venue_city', 
                      'venue_state', 
                      'venue_country',
                      'venue_longitude',
                      'venue_latitude',
                      'start_date']]
tm_df

,attraction_name,segment,genre,sub_genre,event_name,venue_city,venue_state,venue_country,venue_longitude,venue_latitude,start_date
0,ZZ Top,Music,Rock,Pop,ZZ Top With Foghat,Lincoln,California,United States Of America,-121.313680,38.840260,2024-05-03
1,Foghat,Music,Rock,Pop,ZZ Top With Foghat,Lincoln,California,United States Of America,-121.313680,38.840260,2024-05-03
2,ZZ Top,Music,Rock,Pop,ZZ Top & Lynyrd Skynyrd: The Sharp Dressed Sim...,West Valley City,Utah,United States Of America,-112.040726,40.657438,2024-09-26
3,Lynyrd Skynyrd,Music,Rock,Pop,ZZ Top & Lynyrd Skynyrd: The Sharp Dressed Sim...,West Valley City,Utah,United States Of America,-112.040726,40.657438,2024-09-26
4,The Outlaws,Music,Rock,Pop,ZZ Top & Lynyrd Skynyrd: The Sharp Dressed Sim...,West Valley City,Utah,United States Of America,-112.040726,40.657438,2024-09-26
...,...,...,...,...,...,...,...,...,...,...,...
10502,Twenty One Pilots,Music,Rock,Pop,Twenty One Pilots - The Clancy World Tour,Baltimore,Maryland,United States Of America,-76.618700,39.288494,2024-09-15
10503,Twenty One Pilots,Music,Rock,Pop,Twenty One Pilots - The Clancy World Tour,Philadelphia,Pennsylvania,United States Of America,-75.173627,39.904551,2024-09-14
10504,Twenty One Pilots,Music,Rock,Pop,Twenty One Pilots - The Clancy World Tour,Raleigh,North Carolina,United States Of America,-78.722936,35.803242,2024-09-13
10505,Twenty One Pilots,Music,Rock,Pop,Twenty One Pilots - The Clancy World Tour,Orlando,Florida,United States Of America,-81.383957,28.539293,2024-09-11
10506,Twenty One Pilots,Music,Rock,Pop,Twenty One Pilots - The Clancy World Tour,Duluth,Georgia,United States Of America,-84.090729,33.986919,2024-09-10

In [5]:
sort_tm_df = tm_df.sort_values(by='attraction_name', ascending=True)
sort_tm_df

,attraction_name,segment,genre,sub_genre,event_name,venue_city,venue_state,venue_country,venue_longitude,venue_latitude,start_date
5211,(Hed) P.E.,Music,Rock,Alternative Rock,Welcome to Rockville,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,2024-05-09
3110,(Hed) P.E.,Music,Rock,Alternative Rock,Welcome to Rockville,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,2024-05-09
9413,(Hed) P.E.,Music,Rock,Alternative Rock,Welcome to Rockville,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,2024-05-09
1009,(Hed) P.E.,Music,Rock,Alternative Rock,Welcome to Rockville,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,2024-05-09
7312,(Hed) P.E.,Music,Rock,Alternative Rock,Welcome to Rockville,Daytona Beach,Florida,United States Of America,-81.069611,29.185778,2024-05-09
...,...,...,...,...,...,...,...,...,...,...,...
1435,smith.,Music,Dance/Electronic,Club Dance,WAKAAN Expansion Tour with Liquid Stranger,Philadelphia,Pennsylvania,United States Of America,-75.134686,39.965803,2024-04-05
9839,smith.,Music,Dance/Electronic,Club Dance,WAKAAN Expansion Tour with Liquid Stranger,Philadelphia,Pennsylvania,United States Of America,-75.134686,39.965803,2024-04-05
5637,smith.,Music,Dance/Electronic,Club Dance,WAKAAN Expansion Tour with Liquid Stranger,Philadelphia,Pennsylvania,United States Of America,-75.134686,39.965803,2024-04-05
3536,smith.,Music,Dance/Electronic,Club Dance,WAKAAN Expansion Tour with Liquid Stranger,Philadelphia,Pennsylvania,United States Of America,-75.134686,39.965803,2024-04-05
7738,smith.,Music,Dance/Electronic,Club Dance,WAKAAN Expansion Tour with Liquid Stranger,Philadelphia,Pennsylvania,United States Of America,-75.134686,39.965803,2024-04-05

In [6]:
filtered_tm_df = sort_tm_df[['attraction_name', 'genre', 'event_name', 'start_date']]
filtered_tm_df.dtypes

attraction_name    object
genre              object
event_name         object
start_date         object
dtype: object

In [7]:
unique_attractions = filtered_tm_df['attraction_name'].unique()
unique_attractions

array(['(Hed) P.E.', '20 Fingers', '42 Dugg', '44Blonde', '49 Winchester',
       'A Day To Remember', 'A Thousand Horses',
       'ABBA LA: The ABBA Concert Experience', 'AUSTERIA',
       'Abigail Williams', 'Action Adventure', 'Adam Doleac', 'Adam Ten',
       'Adeem the Artist', 'Adele', 'Adema', 'Aether Realm',
       'Afghan Whigs', 'Afterlife', 'Aidan Canfield', 'Alana Springsteen',
       'Alice Gift', 'Alien Ant Farm', 'Alison Krauss', 'All Out War',
       'All That Remains', 'All Them Witches', 'Allison Russell',
       'Amigo The Devil', 'Amythyst Kiah', 'Anderson East', 'Andrew Bird',
       'Andy Montañez', 'Annie Bosko', 'Anthrax', 'Antimony', 'Apes',
       'Apocalyptica', 'Architects', "Aren't We Amphibians",
       'Arthur Young', 'Ashland Craft', 'Ashley Cooke',
       'Asleep At the Wheel', 'Atreyu', 'August Burns Red',
       'Austin Meade', 'Austin Williams', 'Avey Tare', 'Aviations',
       'Ayron Jones', 'B-Legit', 'B-Wellz', 'BENEE', 'BLESSD',
       'Bad Nerves', 'Bad Omens', 'Banda Corona Del Rey', 'Banda Machos',
       'Banda Maguey', 'Banda Potrero', 'Bare Jr.', 'Baroness',
       'Bastian da Cruz', 'Bella White', 'Bellamy Brothers', 'Big Boogie',
       'Billy Currington', 'Billy Strings', 'Biohazard',
       'Black Rose Burning', 'Black Stone Cherry', 'Black Veil Brides',
       'Blackberry Smoke', 'Bleeding Through', 'Bludgeoner',
       'Blues Traveler', 'Bob Dylan', 'Bob Vylan', 'Bobbi Storm',
       'Bobby Alu', 'Bobby Rush', 'Bodysnatcher', 'Bonnie Raitt',
       'Bootblacks', 'Boyscott', 'Breaking Benjamin', 'Brett Young',
       'Brian Kelley', 'Bridge City Sinners', 'Brittney Spencer',
       'Bryan Martin', 'Brynn Cartelli',
       'Buffalo Wabs & the Price Hill Hustle', 'CELISSE', 'CG5', 'CK9C',
       'Cage The Elephant', 'Callum Easter', 'Calva Louise', 'Cam Steady',
       'Candyman', 'Carly Pearce', 'Carpool', 'Carrie Underwood',
       'Catalyst', 'Catbite', 'Catch Your Breath', 'Catie Offerman',
       'Charley Crockett', 'Chase Matthew', 'Chase McDaniel',
       'Chase Rice', 'Chateau Fiasco', 'Chatham County Line',
       'ChewieCatt', 'Chi-chi', 'Chloé Sautereau',
       'Christone "Kingfish" Ingram', 'City and Colour', 'Clint Black',
       'Clutch', 'Code Orange', 'Cody Johnson', 'Cold', 'Cole Swindell',
       'Color Me Badd', 'Colter Wall', 'Congregant', 'Cool Customer',
       'Cooper Alan', 'Corey Kent', 'Cowboy Troy', 'Crobot', 'Cults',
       'Curra', 'Currents', 'Cut Worms', 'Cypress Hill', 'DAGames',
       'DEZI', 'DJ Knife', 'DJ Mel', 'DJ Quik', 'DJ Slim McGraw',
       'Daddyphatsnaps', 'Danny Blu', 'Danny Ocean', 'Day Aches',
       'Day Wave', 'Dayseeker', 'Dead Poet Society', 'Deana Carter',
       'Deceased', 'Dee Jay Silver', 'Derek The Change Man Smith',
       'Destroy Boys', 'Devin Kay & the Solutions', 'Dikembe',
       'Dinosaur Jr.', 'Dirty Honey', 'Disko Cowboy', 'Distinct Motive',
       'Disturbed', 'Diva Bleach', 'Donny Edwards', 'Dori Freeman',
       'Dr. Dog', 'Draag', 'Drake Milligan', 'Drew Green',
       'Drew Holcomb and the Neighbors', 'Drowning Pool', 'Dying Wish',
       'Dylan Leblanc', 'Dylan Scott', 'E-40', 'ERNEST', 'Eddie Flint',
       'El Chicano', 'Eladio Carrion', 'Electric Callboy', 'Ella Langley',
       'Elle King', 'Ellie MacPhee', 'Emerson Lake and Palmer',
       'Emily Ann Roberts', 'Enter Shikari', 'Eric Church', 'Erik Aengel',
       'Estevie', 'Evanescence', 'Exposé', 'Falling In Reverse',
       'Fastest Land Animal', 'Fire From the Gods', 'Firehouse',
       'Fit for a King', 'Flat Black', 'Fleshwater', 'Floret Loret',
       'Flosstradamus', 'Flyleaf', 'Flyte', 'Foghat', 'Font',
       'Foo Fighters', 'Forever Michael', 'Fox Royale',
       'Frank Carter & the Rattlesnakes',
       'Frank Turner & the Sleeping Souls', 'Friko', 'Full Body 2',
       'Fuming Mouth', 'G Herbo', 'Gabrielle Sterbenz', 'GameboyJones',
       'Gardella', 'Gary Clark Jr', 'Gatecreeper', 'Gel',
       'George Clanton', 'George Lamond', 'Gerardo Diaz', 'Gideon',
       'Ginuwine', 'Gladie', 'Godsmack', 'Gomba Jahbari', 'Good Morning',
       'Goose', 'Graham Barham', 'Greg Mendez', 'Greta Van Fleet',
       'Greylan James', 'HARDY', 'Halestorm', 'Haley Heynderickx',
       'Half Past Two', 'HamsandwicH', 'Hank Williams Jr.',
       'Hannah Dasher', 'Harbour', 'Hayes Carll', 'Hayes Warner',
       'Helmet', 'Hollow Front', 'Hollywood Undead', 'Hotbox',
       'Houndmouth', 'Hunxho', 'I Prevail', 'I See Stars', 'Ian Munsick',
       'Imminence', 'In Flames', 'In This Moment', 'India',
       'Inner Circle', 'Insane Clown Posse', 'Iron and Wine', 'Ismay',
       'J.J. Fad', 'J.R. Carroll', 'JT', 'JT Music',
       "Jack Russell's Great White", 'Jade Cicada', 'Jade Eagleson',
       'Jake Worthington', 'James Hunter', 'Jason Aldean',
       'Jason Isbell and the 400 Unit', 'Jason Ringenberg',
       'Jay Morris Group', 'Jehnny Beth', 'Jelly Roll', 'Jess Kerber',
       'Joe', 'John Anderson', 'John Mellencamp', 'Jon Anderson',
       'Jonathan Hutcherson', 'Jose Manuel Figueroa', 'Josh Ross',
       'Joslyn & The Sweet Compression', 'Joy Oladokun', 'Judas Priest',
       'Julia Pratt', 'KELZtango', 'Kassi Ashton', 'Katy Nichole',
       'Keith Urban', 'Kennedy Shaw', 'Kevin Morby', 'Kid Cudi',
       'Kid Kapichi', 'Kim Dracula', 'Kittie', 'Knumears', 'Kody West',
       'Koe Wetzel', 'Kool Keith', 'Kristin Hersh', 'Kumar Sanu',
       'Kylie Morgan', 'L7', 'LA LOM', 'Lacey Sturm', 'Lacuna Coil',
       'Lake Street Dive', 'Lanie Gardner', 'Larry Fleet',
       'Lauren Alaina', 'Lauren Watkins', "Le'Andria Johnson",
       'Lee Ann Womack', 'Lee Brice', 'Leftover Salmon', 'Lemondrop',
       'Lettuce', 'Levi Turner', 'Levity', 'Lily Rose', 'Lime',
       'Limp Bizkit', 'Liquid Stranger', 'Lisa Lisa', 'Lita Ford',
       'Little Feat', 'Livid', 'Living Colour',
       'Lizzy Passion & The Cowboy Assassins', 'Logan Crosby',
       'Logan Halstead', 'Lonestar', 'Los Morros Del Norte',
       'Los Rieleros Del Norte', 'Loveless', 'Lowcation', 'Lucys',
       'Ludacris', 'Luis Figueroa', 'Lukas Nelson + POTR', 'Luke Bryan',
       'Luke Schneider', 'Lynyrd Skynyrd', 'Machine Head', 'Mack 10',
       'Maddie & Tae', 'Madeline Merlo', 'Mae Estes', 'Magnolia Park',
       'Mammoth WVH', 'Maren Morris', 'Margo Price',
       'Mariachi Real De Mexico', 'Mark Chesnutt', 'Martina McBride',
       'Matt Maeson', 'Matt Schuster', 'Matt V-Christ', 'Mavis Staples',
       'Maxi Priest', 'Maybellene Ryder', 'Medium Build', 'Meg McRee',
       'Mega Ran', 'Megan Moroney', 'Meghan Patrick', 'Mello Buckzz',
       'Micah Schnabel', 'Micawber', 'Michael Franti & Spearhead',
       'Michael Jackson Tribute', 'Michael Ray', 'Mike Flanigan',
       'Mike Gordon', "Mike's Dead", 'Militarie Gun', 'Miss May I',
       'Monster Watch', 'Moon Fever', 'Movements', 'Mr. Bungle',
       'Mudvayne', 'Muscadine Bloodline', 'Mushroomhead', 'Mötley Crüe',
       'NLE Choppa', 'Nate Smith',
       'Nathaniel Rateliff & The Night Sweats', 'Neal McCoy', 'Nelson',
       'NerdOut!', 'Nerdcore Party Con', 'New Forms', 'New West',
       'New Years Day', 'Nickel Creek', 'NightWraith', 'Nita Strauss',
       'Nitzer Ebb', 'Noeline Hofmann', 'Nolan Taylor', 'Nonpoint',
       'Nothing More', 'Nova Twins', 'Nox Novacula', 'Of Mice & Men',
       'Oh He Dead', 'Old Dominion', 'Omar Cunningham', 'Orgy',
       'Out Of Control Army', 'Outlaw Music Festival', 'Overcast',
       'P.O.D.', 'PJ Harvey', 'Paralandra', 'Parker McCollum',
       'Party Hats', 'Pat Green', 'Paul Cauthen', 'Pecos & The Rooftops',
       'Petey', 'Photographic Memory', 'Plush', 'Point Blank Society',
       'Point North', 'Polaris', 'Polo G', 'Powerman 5000', 'Primus',
       'Princess', 'Priscilla Block', 'Prof', 'Queens of the Stone Age',
       'Ra Ra Riot', 'Rachel Bochner', 'Rachel Rose', 'Rahill',
       'Railroad Earth', 'Rancho El Aguaje de Sergio Pelayo Jr.',
       'Rare DM', 'Ratboys', 'Ravenscoon',
       'Ray Charles & Friends, starring Pete Peterkin', 'Raynes',
       'Red Fang', 'Red Handed Denial', 'Redferrin', 'Redwall',
       'Reid Haughton', 'Reignwolf', 'Richard Raw', 'Riley Clemmons',
       'Riley Green', 'Roanoke Symphony Orchestra', 'Rob Base', 'Rob49',
       'Robert Plant', 'Robert Plant & Alison Krauss',
       'Robot Tennis Club', 'Rockit Music', 'Rosali', 'Rowan Drake',
       'Royal Blood', 'Rozzi', 'Ruel', 'Rusko', 'Rustage', 'Ryan Bingham',
       'Ryan Upchurch', 'S.G. Goodman', 'STARSET', 'Sadhana Sargam',
       'Sadie Bass', 'Saliva', 'Sam Barber', 'Sam Hunt', 'Sammy Kershaw',
       'Sarah Jakes Roberts', 'Sarah Shook & the Disarmers', 'Saxon',
       'Sean Templar', 'Sebastian Bach', 'Sebastian Yatra', 'Seether',
       'Sego', 'Shakey Graves', 'Shallow Alcove', 'Shanghai Doom',
       'Shao Dow', 'Sharpie Smile', 'Shaylen', 'Sheryl Crow', 'Shwabadi',
       'SiM', 'Sierra Ferrell', 'Sigur Ros', 'Sippy', 'Sisqo',
       'Skapulario', 'Skilla Baby', 'Skillet', 'Skindred', 'Skream',
       'Skydxddy', 'Slaughter To Prevail', 'Sleep Theory',
       'Sleepy Hallow', 'Slipknot', 'Smoakland', 'Snail Mail', 'Soulfly',
       'Southall', 'Southern Avenue', 'Spite', 'Stabbing Westward',
       'Staind', 'Stellar Circuits', 'Stephen Wilson Jr.', 'Stevie B',
       'Stone Temple Pilots', 'Sug Daniels', 'Sum 41', 'Summer Dean',
       'Summoning The Lich', 'Sweet Sensation', 'Sylvan Esso', 'T.I.',
       'THROWN', 'TKA', 'TLC', 'TWRP', 'TX2', 'Tag Team',
       'Taipei Houston', 'Tamia', 'Tanner Adell', 'Taproot',
       'Tears for the Dying', 'Tech N9ne', 'Tedeschi Trucks Band',
       'Terri Clark', 'Tha Dogg Pound', 'The Amatory Murder',
       'The Amity Affliction', 'The Avett Brothers', 'The Black Moods',
       'The Browning', 'The Cadillac Three', 'The Castellows',
       'The Chats', 'The Church', 'The Cover Girls', 'The Cynz',
       'The Decemberists', 'The English Beat', 'The Escapers',
       'The Flaming Lips', 'The Jets', 'The Kody Norris Show',
       'The Living Tombstone', 'The Mavericks', 'The Middle East',
       'The Music of Queen', 'The Offspring', 'The Original Cover Girls',
       'The Outlaws', 'The Phryg', 'The Pomps', 'The Red Clay Strays',
       'The Steady 45s', 'The Struts', 'The Stupendium',
       'The Sugarhill Gang', 'The Teeth', 'The Wailers',
       'The War and Treaty', 'The Word Alive',
       'The YellowHouse Blues Band', 'Theory of a Deadman',
       'They Might Be Giants', 'Third World', 'Thomas Mac',
       'Thomas Rhett', 'Ticket To Ride', 'Tim Heidecker', 'Tim Montana',
       'Tiny Stills', 'Tony Vega', 'Too Short', 'Trace Adkins', 'Traitrs',
       'Tre Burt', 'Treaty Oak Revival', 'Trevor Hall', 'Trey Magnifique',
       'Trinere', 'Trollfest', 'Trust Company', 'Turnpike Troubadours',
       'Twenty One Pilots', 'Twin Seas', 'Twin Tribes',
       'Two Door Cinema Club', 'Two Friends', 'Two Step Inn',
       'TwoGether Land', 'Ty Segall', 'Tye Tribbett', 'Tyga', 'Tyla',
       'Tyler Booth', 'Tyler Braden', 'Tyler Childers', 'Tyler Farr',
       'Tyler Reese Tritt', 'Tyler Rich', 'Týr', 'UB40',
       'UB40 Featuring Ali Campbell', 'USHER', 'UTEP Department of Music',
       'Udo', 'Udo Dirkschneider', 'Uforia Mix Live', 'Ultra Q',
       "Ultramagnetic Mc's", "Umphrey's McGee", 'Uncle Lucius',
       'Undecided Future', 'Under Auburn Skies', 'Unearth',
       'United We Dance', 'University Drive', 'UnplugdLA R&B Sessions',
       'Unprocessed', 'Until I Wake', 'Upon a Burning Body', 'Uprooted',
       'Uriah Heep', 'VANESSA COLLIER', 'VASSY', 'VCTMS', 'VERIVERY',
       'VNV Nation', 'VO', 'VR SEX', 'VUKOVI', 'Vacations', 'Vakili Band',
       'Vale of Pnath', 'Valerie June', 'Vampire Weekend', 'Vandoliers',
       'Vanessa Jean Speckman', 'Vansire', 'Vavo', 'Veil of Maya',
       'Venesti', 'Victor Manuelle', 'Victor Wooten', 'Vienna Teng',
       'Vincent Lima', 'Vincent Neil Emerson', 'Violent Femmes',
       'Violent Vira', 'Virginia Man', 'Vision Arcade', 'Vision Video',
       'Vivanativa', 'Voices of America Country Music Fest', 'Volcandra',
       'Vomitory', 'Voodoo Glow Skulls', 'Voyage - a Journey Tribute',
       'Vs Self', 'Vyntyge Skynyrd', 'W.I.T.C.H.', 'WAR', 'WE Fest',
       'WILLIS', 'WITCHZ', 'WWOZ Piano Night', 'Wage War',
       'Waiting On Mongo', 'Wake Me', 'Wakin Chau / Zhou Hua Jian',
       'Walk the West', 'Walker Hayes', 'Wallows', 'Walter Beasley',
       'Walter Trout', 'Wand', 'War Hippies', 'Warpaint', 'Warrant',
       'Warren Haynes', 'Warren Zeiders', 'Wasia Project', 'Waterparks',
       'Watershed Festival', 'Wavedash', 'Waxahatchee', 'Wayne Graham',
       'Wayne Newton', 'We Are the Union', 'We The Kingdom', 'We Three',
       'Weapons of Mass Creation', 'Webb Wilder', 'Wednesday', 'Ween',
       'Weezer', 'Welcome to Rockville', 'Wes Patrick', 'West 22nd',
       'West Love', 'Western Dreamland', 'Western Medicine',
       'Western Standard Time Ska Orchestra', 'Wheatus', 'Wheel',
       'Wheeler Walker Jr.', 'Wheelwright', 'Which Ones Pink',
       'Whiskey Myers', 'White Denim', 'White Ford Bronco',
       'White Tie Rock Ensemble', 'Whitehall', 'Whitey Morgan',
       "Who's Bad", 'Widespread Panic', 'Wilco', 'Wild Child',
       'Wild Child - Doors Tribute', 'Wild Party', 'Wilderado',
       'Will Downing', 'Will Jones', 'Will Linley', 'Will Orchard',
       'Will Overman', 'Will Sparks', 'Willi Carlisle',
       'William Elliott Whitmore', 'William Tyler', 'Willie Nelson',
       'Willie Nile', 'Willy Chirino', 'Wind Rose', 'Windser',
       'Windy City Smokeout', 'Wine Lips', 'Winnetka Bowling League',
       'Wisemary', 'Wish You Were Here Pink Floyd Tribute', 'Wisin',
       'Wisp', 'Wiz Khalifa', 'Wizard Fest', 'Women of Country',
       'Womens Empowerment', 'Woods', 'Wyatt Flores', 'Wynonna Judd',
       'X Ambassadors', 'X-Maleya', 'Xana', 'Xandria', 'Xavi',
       'Xavier Rudd', 'Xavier Wulf', 'Xinxin', 'YTB Fatt', 'YYNOT',
       'Yacht Rock Gold', 'Yacht Rock Schooner', 'Yachtley Crew',
       'Yamandu Costa', 'Yard Act', 'Yas Akdag', 'Yasmin Williams',
       'Yelawolf', 'YellaCatt', 'Yellow Claw', 'Ying Yang Twins', 'Yola',
       'Yonder Mountain String Band', 'Yot Club',
       'You Should Be Dancing – A Tribute to The Bee Gees',
       'Young Dubliners', 'Young Fathers', 'Young Medicine',
       'Young Rising Sons', 'Young the Giant', 'Your Neighbors',
       'Youth Fountain', 'Yuri', 'Yussef Dayes', 'ZOSO', 'ZZ Top',
       'ZZ Top and Lynyrd Skynyrd', 'Zac Brown Band', 'Zacarias Ferreira',
       'Zach B', 'Zach Bryan', 'Zach Seabaugh', 'Zach Top',
       'Zach Williams', 'Zakir Hussain', 'Zandi Holup', 'Zay Wilson',
       'Zebra', 'Zedd', 'Zeds Dead', 'Zeeky El', 'Zemfira', 'Zepparella',
       'Zeppelin USA', 'Zheani', 'Ziggy Alberts', 'Ziggy Marley',
       'Zingara', 'Zolita', 'Zucchero', 'dreamfone', 'flipturn',
       'nelward', 'smith.'], dtype=object)

In [8]:
bcr_tm_df = filtered_tm_df[['start_date','attraction_name', 'genre', 'event_name']]
bcr_tm_df

,start_date,attraction_name,genre,event_name
5211,2024-05-09,(Hed) P.E.,Rock,Welcome to Rockville
3110,2024-05-09,(Hed) P.E.,Rock,Welcome to Rockville
9413,2024-05-09,(Hed) P.E.,Rock,Welcome to Rockville
1009,2024-05-09,(Hed) P.E.,Rock,Welcome to Rockville
7312,2024-05-09,(Hed) P.E.,Rock,Welcome to Rockville
...,...,...,...,...
1435,2024-04-05,smith.,Dance/Electronic,WAKAAN Expansion Tour with Liquid Stranger
9839,2024-04-05,smith.,Dance/Electronic,WAKAAN Expansion Tour with Liquid Stranger
5637,2024-04-05,smith.,Dance/Electronic,WAKAAN Expansion Tour with Liquid Stranger
3536,2024-04-05,smith.,Dance/Electronic,WAKAAN Expansion Tour with Liquid Stranger
7738,2024-04-05,smith.,Dance/Electronic,WAKAAN Expansion Tour with Liquid Stranger

In [9]:
df_no_dups = bcr_tm_df.drop_duplicates(subset=['start_date', 'attraction_name', 'event_name'])
df_no_dups

,start_date,attraction_name,genre,event_name
5211,2024-05-09,(Hed) P.E.,Rock,Welcome to Rockville
8690,2024-04-19,20 Fingers,R&B,You Gotta love the 80's & 90's Tour
2996,2024-06-01,42 Dugg,Hip-Hop/Rap,WGCI & BMN Presents Chi City Fest
8659,2024-05-15,44Blonde,Rock,Young Rising Sons
8656,2024-04-21,44Blonde,Rock,Young Rising Sons w/ 44Blonde and Diva Bleach
...,...,...,...,...
6257,2024-07-26,flipturn,Rock,Two Door Cinema Club
6259,2024-07-24,flipturn,Rock,Two Door Cinema Club
6181,2024-05-04,nelward,Rock,TWRP Digital Nightmare 2024 Tour (18+)
6184,2024-05-01,nelward,Rock,TWRP Digital Nightmare 2024 Tour
1435,2024-04-05,smith.,Dance/Electronic,WAKAAN Expansion Tour with Liquid Stranger

In [10]:
df_no_dups = df_no_dups.sort_values(by='start_date', ascending=True)
df_no_dups

,start_date,attraction_name,genre,event_name
5081,2024-04-04,Logan Halstead,Country,Wheeler Walker Jr.: The Spread Eagle Tour
3938,2024-04-04,Ruel,Alternative,UCFest Presents Concert Knight w/ Ruel
8534,2024-04-04,Zach Williams,Rock,Zach Williams A Hundred Highways Tour
10215,2024-04-04,Undecided Future,Pop,Undecided Future with special guests DJ Kase a...
1324,2024-04-04,Waterparks,Rock,Waterparks
...,...,...,...,...
2031,2024-09-29,Two Door Cinema Club,Rock,Two Door Cinema Club
7361,2024-09-29,The Flaming Lips,Rock,Weezer: Voyage To The Blue Planet Tour 2024
6291,2024-09-29,Twenty One Pilots,Rock,Twenty One Pilots - The Clancy World Tour
10042,2024-09-30,Cults,Rock,Vampire Weekend - 'Only God Was Above Us' Tour
5839,2024-09-30,Vampire Weekend,Rock,Vampire Weekend - 'Only God Was Above Us' Tour

In [11]:
cleaned_bcr_df = df_no_dups[['start_date', 'genre']]
cleaned_bcr_df

       start_date        genre
5081   2024-04-04      Country
3938   2024-04-04  Alternative
8534   2024-04-04         Rock
10215  2024-04-04          Pop
1324   2024-04-04         Rock
...           ...          ...
2031   2024-09-29         Rock
7361   2024-09-29         Rock
6291   2024-09-29         Rock
10042  2024-09-30         Rock
5839   2024-09-30         Rock

[2100 rows x 2 columns]

In [12]:
cleaned_bcr_df = cleaned_bcr_df.reset_index(drop = True)
cleaned_bcr_df.head(20)

    start_date             genre
0   2024-04-04           Country
1   2024-04-04       Alternative
2   2024-04-04              Rock
3   2024-04-04               Pop
4   2024-04-04              Rock
5   2024-04-04              Rock
6   2024-04-04              Rock
7   2024-04-04              Rock
8   2024-04-04           Country
9   2024-04-05               Pop
10  2024-04-05              Rock
11  2024-04-05              Rock
12  2024-04-05             Metal
13  2024-04-05           Country
14  2024-04-05             Metal
15  2024-04-05             Metal
16  2024-04-05  Dance/Electronic
17  2024-04-05              Rock
18  2024-04-05              Rock
19  2024-04-05              Rock

In [13]:
cleaned_bcr_df['summed_count'] = cleaned_bcr_df.groupby(['start_date', 'genre']).transform('size')

In [14]:
cleaned_bcr_df = cleaned_bcr_df.drop_duplicates(['start_date', 'genre']).reset_index(drop=True)
cleaned_bcr_df

     start_date        genre  summed_count
0    2024-04-04      Country             2
1    2024-04-04  Alternative             1
2    2024-04-04         Rock             5
3    2024-04-04          Pop             1
4    2024-04-05          Pop             1
..          ...          ...           ...
605  2024-09-28  Alternative             1
606  2024-09-28          Pop             2
607  2024-09-29         Rock             6
608  2024-09-29          R&B             1
609  2024-09-30         Rock             2

[610 rows x 3 columns]

In [15]:
cleaned_bcr_df['total_count'] = cleaned_bcr_df.groupby('genre')['summed_count'].cumsum()

In [16]:
cleaned_bcr_df.head(20)

    start_date             genre  summed_count  total_count
0   2024-04-04           Country             2            2
1   2024-04-04       Alternative             1            1
2   2024-04-04              Rock             5            5
3   2024-04-04               Pop             1            1
4   2024-04-05               Pop             1            2
5   2024-04-05              Rock             7           12
6   2024-04-05             Metal             3            3
7   2024-04-05           Country             2            4
8   2024-04-05  Dance/Electronic             5            5
9   2024-04-06           Country             7           11
10  2024-04-06         Undefined             3            3
11  2024-04-06              Rock            15           27
12  2024-04-06             Latin             6            6
13  2024-04-06               Pop             3            5
14  2024-04-06         Religious             2            2
15  2024-04-06       Hip-Hop/Rap             1            1
16  2024-04-07               Pop             1            6
17  2024-04-07         Undefined             5            8
18  2024-04-07         Religious             2            4
19  2024-04-07           Country             3           14

In [17]:
cleaned_bcr_df = cleaned_bcr_df[['start_date', 'genre', 'total_count']]
cleaned_bcr_df

     start_date        genre  total_count
0    2024-04-04      Country            2
1    2024-04-04  Alternative            1
2    2024-04-04         Rock            5
3    2024-04-04          Pop            1
4    2024-04-05          Pop            2
..          ...          ...          ...
605  2024-09-28  Alternative           80
606  2024-09-28          Pop          105
607  2024-09-29         Rock          847
608  2024-09-29          R&B           60
609  2024-09-30         Rock          849

[610 rows x 3 columns]

In [18]:
cleaned_bcr_df['start_date'] = pd.to_datetime(cleaned_bcr_df['start_date'])
cleaned_bcr_df.dtypes

/var/folders/s2/zfm4_lwj4fndcl2y79v_vx180000gn/T/ipykernel_58694/2245384190.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_bcr_df['start_date'] = pd.to_datetime(cleaned_bcr_df['start_date'])

start_date     datetime64[ns]
genre                  object
total_count             int64
dtype: object

In [19]:
pivot_df = cleaned_bcr_df.pivot(index='start_date', columns='genre', values='total_count')

pivot_df.head(20)

genre,Alternative,Blues,Classical,Country,Dance/Electronic,Folk,Hip-Hop/Rap,Jazz,Latin,Metal,Other,Pop,R&B,Reggae,Religious,Rock,Undefined,World
start_date,,,,,,,,,,,,,,,,,,
2024-04-04,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,5.0,NaN,NaN
2024-04-05,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN,NaN,NaN,12.0,NaN,NaN
2024-04-06,NaN,NaN,NaN,11.0,NaN,NaN,1.0,NaN,6.0,NaN,NaN,5.0,NaN,NaN,2.0,27.0,3.0,NaN
2024-04-07,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,8.0,NaN,NaN,6.0,NaN,NaN,4.0,NaN,8.0,NaN
2024-04-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,30.0,NaN,NaN
2024-04-09,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,34.0,NaN,NaN
2024-04-10,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,7.0,NaN,8.0,NaN,NaN,NaN,38.0,9.0,NaN
2024-04-11,5.0,NaN,NaN,23.0,NaN,NaN,2.0,2.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN,39.0,NaN,NaN
2024-04-12,7.0,NaN,NaN,NaN,23.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.0,10.0,NaN
2024-04-13,9.0,NaN,NaN,28.0,29.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,6.0,NaN,NaN,45.0,11.0,NaN
2024-04-14,15.0,NaN,NaN,NaN,30.0,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN
2024-04-15,NaN,NaN,NaN,30.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN
2024-04-16,18.0,NaN,NaN,32.0,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,54.0,NaN,NaN
2024-04-17,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,9.0,NaN,NaN,NaN,58.0,NaN,NaN
2024-04-18,NaN,NaN,NaN,34.0,NaN,NaN,5.0,NaN,10.0,29.0,NaN,NaN,NaN,NaN,NaN,69.0,12.0,NaN
2024-04-19,NaN,NaN,1.0,37.0,NaN,NaN,6.0,NaN,12.0,33.0,NaN,10.0,16.0,NaN,NaN,77.0,NaN,NaN
2024-04-20,NaN,6.0,NaN,39.0,NaN,NaN,7.0,NaN,14.0,NaN,NaN,11.0,NaN,NaN,NaN,91.0,48.0,2.0
2024-04-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,104.0,NaN,NaN
2024-04-22,21.0,NaN,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,109.0,NaN,NaN
2024-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN

In [20]:
df_filled = pivot_df.fillna(method='ffill')
df_filled

/var/folders/s2/zfm4_lwj4fndcl2y79v_vx180000gn/T/ipykernel_58694/37640407.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = pivot_df.fillna(method='ffill')

genre,Alternative,Blues,Classical,Country,Dance/Electronic,Folk,Hip-Hop/Rap,Jazz,Latin,Metal,Other,Pop,R&B,Reggae,Religious,Rock,Undefined,World
start_date,,,,,,,,,,,,,,,,,,
2024-04-04,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,5.0,NaN,NaN
2024-04-05,1.0,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN,3.0,NaN,2.0,NaN,NaN,NaN,12.0,NaN,NaN
2024-04-06,1.0,NaN,NaN,11.0,5.0,NaN,1.0,NaN,6.0,3.0,NaN,5.0,NaN,NaN,2.0,27.0,3.0,NaN
2024-04-07,1.0,NaN,NaN,14.0,5.0,NaN,1.0,NaN,8.0,3.0,NaN,6.0,NaN,NaN,4.0,27.0,8.0,NaN
2024-04-08,1.0,NaN,NaN,14.0,5.0,NaN,1.0,NaN,8.0,3.0,NaN,7.0,NaN,NaN,4.0,30.0,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-26,79.0,9.0,1.0,364.0,52.0,96.0,65.0,8.0,37.0,100.0,9.0,102.0,58.0,24.0,26.0,827.0,181.0,32.0
2024-09-27,79.0,9.0,1.0,365.0,52.0,96.0,65.0,8.0,37.0,100.0,9.0,103.0,58.0,24.0,26.0,833.0,181.0,32.0
2024-09-28,80.0,9.0,1.0,366.0,52.0,96.0,65.0,8.0,37.0,100.0,9.0,105.0,59.0,24.0,26.0,841.0,181.0,32.0
2024-09-29,80.0,9.0,1.0,366.0,52.0,96.0,65.0,8.0,37.0,100.0,9.0,105.0,60.0,24.0,26.0,847.0,181.0,32.0
2024-09-30,80.0,9.0,1.0,366.0,52.0,96.0,65.0,8.0,37.0,100.0,9.0,105.0,60.0,24.0,26.0,849.0,181.0,32.0

In [21]:
# Create the bar chart race
bcr.bar_chart_race(
    df=df_filled,

    # Assign name to gif
    filename='bar_chart_race.gif',
    # Title of graph
    title='How Many Upcoming Shows?',
    # Make orientation horizontal
    orientation='h',
    #Sort in descending order so highest value remains at the top
    sort='desc',
    # How many bars will be displayed?
    n_bars=10,
    # Make it so bars change positions as values change
    fixed_order=False,
    # Filter column colors
    filter_column_colors = True,
    # Number of steps between each year
    steps_per_period=5,
    #Length of each period (milliseconds)
    period_length=250,
    # Make interpolate False
    interpolate_period=False
)

/Users/davidavellaneda/anaconda3/lib/python3.11/site-packages/bar_chart_race/_make_chart.py:889: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_values.iloc[:, 0] = df_values.iloc[:, 0].fillna(method='ffill')
/Users/davidavellaneda/anaconda3/lib/python3.11/site-packages/bar_chart_race/_make_chart.py:286: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_yticklabels(self.df_values.columns)
/Users/davidavellaneda/anaconda3/lib/python3.11/site-packages/bar_chart_race/_make_chart.py:287: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
MovieWriter imagemagick unavailable; using Pillow instead.