In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import bar_chart_race as bcr

In [2]:
tm_json_file = 'json_files/ticketmaster_attractions.json'
tm_json_file

'json_files/ticketmaster_attractions.json'

In [3]:
tm_json = pd.read_json(tm_json_file)
tm_json
sort_tm_json = tm_json.sort_values(by='attraction_id', ascending=True)
sort_tm_json

,_id,attraction_name,full_lineup,segment,segment_id,genre,sub_genre,attraction_url,attraction_id,event_name,...,venue_id,venue_city,venue_state,venue_country,venue_longitude,venue_latitude,max_price,min_price,start_date,start_time
28725,66130b2cdc1d5e6f970b4882,Marshall Crenshaw,"[Smithereens, Marshall Crenshaw]",Music,KZFzniwnSyZfZ7v7nJ,Rock,Alternative Rock,https://www.ticketmaster.com.au/marshall-crens...,K8vZ9171-40,The Smithereens with Marshall Crenshaw,...,KovZpa3rme,Alexandria,Virginia,United States Of America,-77.061339,38.839787,45.0,45.0,2024-06-01,2024-04-08 19:30:00
23797,66130b2adc1d5e6f970b3541,Mark Hummel,[],Music,KZFzniwnSyZfZ7v7nJ,Blues,Blues,https://www.ticketmaster.com.au/mark-hummel-ti...,K8vZ9171-4f,Mark Hummel,...,KovZpZAtv1nA,Austin,Texas,United States Of America,-97.740401,30.266050,16.0,16.0,2024-04-15,2024-04-08 20:00:00
20187,66130b2adc1d5e6f970b2727,Battle of the Bands,[Battle of the Bands],Music,KZFzniwnSyZfZ7v7nJ,Rock,Pop,https://www.livenation.com/artist/K8vZ9171-J0/...,K8vZ9171-J0,"Battle of the Bands Ft. Loveseat Pete, Spencer...",...,KovZpZAIetFA,Brooklyn,New York,United States Of America,-73.957346,40.721926,18.0,18.0,2024-04-21,2024-04-08 19:00:00
4001,66130b26dc1d5e6f970ae7e8,Jim Breuer,"[Club Seating: Paramount Theatre, Jim Breuer]",Music,KZFzniwnSyZfZ7v7nJ,Other,Other,https://www.ticketmaster.com.au/jim-breuer-tic...,K8vZ9171-Kf,Paramount Theatre Club Seating: Jim Breuer,...,KovZpZAFa1nA,Denver,Colorado,United States Of America,-104.990271,39.744362,39.5,39.5,2024-08-16,2024-04-08 20:00:00
19780,66130b2adc1d5e6f970b2590,A.J. McLean,"[Joey Fatone, A.J. McLean]",Music,KZFzniwnSyZfZ7v7nJ,Pop,Pop,https://www.ticketmaster.com.au/aj-mclean-tick...,K8vZ9171-R0,Joey Fatone & AJ McLean: A Legendary Night,...,KovZpZAF67IA,Baton Rouge,Louisiana,United States Of America,-91.150963,30.345658,125.0,45.0,2024-06-07,2024-04-08 20:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28601,66130b2cdc1d5e6f970b4806,Gimme Gimme Disco,[Gimme Gimme Disco],Music,KZFzniwnSyZfZ7v7nJ,Dance/Electronic,Disco,https://www.ticketmaster.com.au/gimme-gimme-di...,K8vZfZ7vlA6,Gimme Gimme Disco: A Dance Party Inspired by ABBA,...,KovZpZA7knFA,Washington,District of Columbia,United States Of America,-77.023730,38.917950,35.0,35.0,2024-05-18,2024-04-08 21:00:00
19253,66130b2adc1d5e6f970b2381,Gimme Gimme Disco,[],Music,KZFzniwnSyZfZ7v7nJ,Dance/Electronic,Disco,https://www.ticketmaster.com.au/gimme-gimme-di...,K8vZfZ7vlA6,Gimme Gimme Disco,...,KovZpa3mee,Portland,Maine,United States Of America,-70.263292,43.653972,20.0,20.0,2024-05-17,2024-04-08 20:30:00
20054,66130b2adc1d5e6f970b26a2,Gimme Gimme Disco,[Gimme Gimme Disco],Music,KZFzniwnSyZfZ7v7nJ,Dance/Electronic,Disco,https://www.livenation.com/artist/K8vZfZ7vlA6/...,K8vZfZ7vlA6,Gimme Gimme Disco - A Dance Party Inspired by ...,...,KovZpZAIetFA,Brooklyn,New York,United States Of America,-73.957346,40.721926,20.0,15.0,2024-04-13,2024-04-08 23:30:00
7330,66130b27dc1d5e6f970af4ea,Gimme Gimme Disco,[],Music,KZFzniwnSyZfZ7v7nJ,Dance/Electronic,Disco,https://www.ticketmaster.com.au/gimme-gimme-di...,K8vZfZ7vlA6,Gimme Gimme Disco,...,KovZpZAEAdIA,Hampton Beach,New Hampshire,United States Of America,-70.811438,42.907030,18.0,18.0,2024-06-28,2024-04-08 20:00:00
15475,66130b29dc1d5e6f970b14bf,Gimme Gimme Disco,[],Music,KZFzniwnSyZfZ7v7nJ,Dance/Electronic,Disco,https://www.ticketmaster.com.au/gimme-gimme-di...,K8vZfZ7vlA6,Gimme Gimme Disco,...,KovZpZAantEA,Columbia,Missouri,United States Of America,-92.327842,38.952184,35.0,15.0,2024-05-03,2024-04-08 21:00:00

In [4]:
tm_df = tm_json[['attraction_name',
                      'segment', 'genre', 
                      'sub_genre', 
                      'event_name', 
                      'venue_city', 
                      'venue_state', 
                      'venue_country',
                      'venue_longitude',
                      'venue_latitude',
                      'start_date']]
tm_df

,attraction_name,segment,genre,sub_genre,event_name,venue_city,venue_state,venue_country,venue_longitude,venue_latitude,start_date
0,"Slaughter Beach, Dog",Music,Alternative,Alternative Rock,Slaughter Beach Dog (solo) - The Upstairs at A...,Birmingham,Alabama,United States Of America,-86.774171,33.524545,2024-04-09
1,Erin Rae,Music,Alternative,Alternative Rock,Slaughter Beach Dog (solo) - The Upstairs at A...,Birmingham,Alabama,United States Of America,-86.774171,33.524545,2024-04-09
2,Chris Renzema,Music,Religious,Christian Rock,Chris Renzema,Tuscaloosa,Alabama,United States Of America,-87.554929,33.210680,2024-04-09
3,Citizens,Music,Religious,Christian Rock,Chris Renzema,Tuscaloosa,Alabama,United States Of America,-87.554929,33.210680,2024-04-09
4,Charlotte Sands,Music,Pop,Pop,Charlotte Sands - can we start over tour,Birmingham,Alabama,United States Of America,-86.774615,33.524275,2024-04-10
...,...,...,...,...,...,...,...,...,...,...,...
31540,Spice Wannabe: The Spice Girls Tribute,Music,Undefined,Undefined,Spice Wannabe: The Spice Girls Tribute,Las Vegas,Nevada,United States Of America,-115.175011,36.098738,2024-09-29
31541,Soul of Motown,Music,R&B,Soul,Soul of Motown,Las Vegas,Nevada,United States Of America,-115.152356,36.135691,2024-09-29
31542,Garth Brooks,Music,Country,Country,Garth Brooks/Plus ONE - The Vegas Residency,Las Vegas,Nevada,United States Of America,-115.175058,36.116156,2024-09-29
31543,Jabbawockeez,Music,Dance/Electronic,Club Dance,Jabbawockeez,Las Vegas,Nevada,United States Of America,-115.169756,36.102916,2024-09-29
31544,Carpenters Legacy,Music,Undefined,Undefined,Carpenters Legacy,Las Vegas,Nevada,United States Of America,-115.170811,36.110112,2024-09-30

In [5]:
sort_tm_df = tm_df.sort_values(by='attraction_name', ascending=True)
sort_tm_df

,attraction_name,segment,genre,sub_genre,event_name,venue_city,venue_state,venue_country,venue_longitude,venue_latitude,start_date
24238,$UICIDEBOY$,Music,Hip-Hop/Rap,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024,Austin,Texas,United States Of America,-97.730837,30.280735,2024-08-17
3149,$UICIDEBOY$,Music,Hip-Hop/Rap,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024,Dallas,Texas,United States Of America,-96.810818,32.790672,2024-08-14
25373,$UICIDEBOY$,Music,Hip-Hop/Rap,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024,San Francisco,California,United States Of America,-122.387464,37.767970,2024-08-28
23124,$UICIDEBOY$,Music,Hip-Hop/Rap,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024,Raleigh,North Carolina,United States Of America,-78.722936,35.803242,2024-09-15
24232,$UICIDEBOY$,Music,Hip-Hop/Rap,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024,San Antonio,Texas,United States Of America,-98.433799,29.433039,2024-08-16
...,...,...,...,...,...,...,...,...,...,...,...
13134,verygently,Music,Rock,Alternative Rock,Augustana - Something Beautiful Tour,San Diego,California,United States Of America,-117.160086,32.716373,2024-05-10
15783,yMusic,Music,Rock,Pop,Bruce Hornsby and yMusic present BrhyM,Thousand Oaks,California,United States Of America,-118.849491,34.175071,2024-04-10
3402,yMusic,Music,Rock,Pop,Bruce Hornsby and yMusic present BrhyM,Denver,Colorado,United States Of America,-104.990271,39.744362,2024-04-23
10551,yvm3,Music,Dance/Electronic,Dance/Electronic,MELLODEATH: Marshmello & SVDDEN DEATH,Minneapolis,Minnesota,United States Of America,-93.263512,44.975183,2024-04-13
14001,Él mató a un Policía motorizado,Music,Rock,Alternative Rock,Interpol With Special Guest: El Mato A Un Poli...,Houston,Texas,United States Of America,-95.367289,29.762809,2024-05-05

In [6]:
filtered_tm_df = sort_tm_df[['attraction_name', 'genre', 'event_name', 'start_date']]
filtered_tm_df.dtypes

attraction_name    object
genre              object
event_name         object
start_date         object
dtype: object

In [7]:
unique_attractions = filtered_tm_df['attraction_name'].unique()
unique_attractions

array(['$UICIDEBOY$', '(((O)))', '(Hed) P.E.', ..., 'yMusic', 'yvm3',
       'Él mató a un Policía motorizado'], dtype=object)

In [8]:
bcr_tm_df = filtered_tm_df[['start_date','attraction_name', 'genre', 'event_name']]
bcr_tm_df

,start_date,attraction_name,genre,event_name
24238,2024-08-17,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
3149,2024-08-14,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
25373,2024-08-28,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
23124,2024-09-15,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
24232,2024-08-16,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
...,...,...,...,...
13134,2024-05-10,verygently,Rock,Augustana - Something Beautiful Tour
15783,2024-04-10,yMusic,Rock,Bruce Hornsby and yMusic present BrhyM
3402,2024-04-23,yMusic,Rock,Bruce Hornsby and yMusic present BrhyM
10551,2024-04-13,yvm3,Dance/Electronic,MELLODEATH: Marshmello & SVDDEN DEATH
14001,2024-05-05,Él mató a un Policía motorizado,Rock,Interpol With Special Guest: El Mato A Un Poli...

In [9]:
df_no_dups = bcr_tm_df.drop_duplicates(subset=['start_date', 'attraction_name', 'event_name'])
df_no_dups

,start_date,attraction_name,genre,event_name
24238,2024-08-17,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
3149,2024-08-14,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
25373,2024-08-28,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
23124,2024-09-15,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
24232,2024-08-16,$UICIDEBOY$,Hip-Hop/Rap,$uicideboy$ - Grey Day Tour 2024
...,...,...,...,...
13134,2024-05-10,verygently,Rock,Augustana - Something Beautiful Tour
15783,2024-04-10,yMusic,Rock,Bruce Hornsby and yMusic present BrhyM
3402,2024-04-23,yMusic,Rock,Bruce Hornsby and yMusic present BrhyM
10551,2024-04-13,yvm3,Dance/Electronic,MELLODEATH: Marshmello & SVDDEN DEATH
14001,2024-05-05,Él mató a un Policía motorizado,Rock,Interpol With Special Guest: El Mato A Un Poli...

In [10]:
df_no_dups = df_no_dups.sort_values(by='start_date', ascending=True)
df_no_dups

,start_date,attraction_name,genre,event_name
10067,2024-04-05,Dee Jay Silver,Undefined,Tortuga Music Festival
10060,2024-04-05,Kolby Cooper,Undefined,Tortuga Music Festival
10026,2024-04-05,HARDY,Undefined,Tortuga Music Festival
10043,2024-04-05,Jackson Dean,Undefined,Tortuga Music Festival
10046,2024-04-05,Cooper Alan,Undefined,Tortuga Music Festival
...,...,...,...,...
3288,2024-09-30,The Interrupters,Rock,ALT 103.7 Presents Sum 41: Tour of the Setting...
12744,2024-09-30,Sting,Rock,STING 3.0 Tour
3287,2024-09-30,Sum 41,Rock,ALT 103.7 Presents Sum 41: Tour of the Setting...
29544,2024-09-30,Conan Gray,Rock,Conan Gray: Found Heaven On Tour
26851,2024-09-30,Mat Kearney,Rock,Mat Kearney

In [11]:
cleaned_bcr_df = df_no_dups[['start_date', 'genre']]
cleaned_bcr_df

       start_date      genre
10067  2024-04-05  Undefined
10060  2024-04-05  Undefined
10026  2024-04-05  Undefined
10043  2024-04-05  Undefined
10046  2024-04-05  Undefined
...           ...        ...
3288   2024-09-30       Rock
12744  2024-09-30       Rock
3287   2024-09-30       Rock
29544  2024-09-30       Rock
26851  2024-09-30       Rock

[31303 rows x 2 columns]

In [12]:
cleaned_bcr_df = cleaned_bcr_df.reset_index(drop = True)
cleaned_bcr_df.head(20)

    start_date      genre
0   2024-04-05  Undefined
1   2024-04-05  Undefined
2   2024-04-05  Undefined
3   2024-04-05  Undefined
4   2024-04-05  Undefined
5   2024-04-05  Undefined
6   2024-04-05  Undefined
7   2024-04-05  Undefined
8   2024-04-05  Undefined
9   2024-04-05  Undefined
10  2024-04-05  Undefined
11  2024-04-05  Undefined
12  2024-04-05  Undefined
13  2024-04-05  Undefined
14  2024-04-05  Undefined
15  2024-04-05  Undefined
16  2024-04-05  Undefined
17  2024-04-05  Undefined
18  2024-04-05  Undefined
19  2024-04-05  Undefined

In [13]:
cleaned_bcr_df['summed_count'] = cleaned_bcr_df.groupby(['start_date', 'genre']).transform('size')

In [14]:
cleaned_bcr_df = cleaned_bcr_df.drop_duplicates(['start_date', 'genre']).reset_index(drop=True)
cleaned_bcr_df

      start_date      genre  summed_count
0     2024-04-05  Undefined            45
1     2024-04-06  Undefined            27
2     2024-04-07      Blues             8
3     2024-04-07       Rock            64
4     2024-04-07    Country            15
...          ...        ...           ...
2303  2024-09-29       Jazz             1
2304  2024-09-29      World             1
2305  2024-09-29    Country             4
2306  2024-09-30       Rock            14
2307  2024-09-30  Undefined             1

[2308 rows x 3 columns]

In [15]:
cleaned_bcr_df['total_count'] = cleaned_bcr_df.groupby('genre')['summed_count'].cumsum()

In [16]:
cleaned_bcr_df.head(20)

    start_date             genre  summed_count  total_count
0   2024-04-05         Undefined            45           45
1   2024-04-06         Undefined            27           72
2   2024-04-07             Blues             8            8
3   2024-04-07              Rock            64           64
4   2024-04-07           Country            15           15
5   2024-04-07         Religious            20           20
6   2024-04-07             Other             2            2
7   2024-04-07       Hip-Hop/Rap            11           11
8   2024-04-07             Metal             9            9
9   2024-04-07       Alternative             8            8
10  2024-04-07         Undefined            14           86
11  2024-04-07            Reggae             4            4
12  2024-04-07              Folk             5            5
13  2024-04-07  Dance/Electronic             1            1
14  2024-04-07         Classical             4            4
15  2024-04-07               Pop            13           13
16  2024-04-07             Latin             3            3
17  2024-04-07               R&B            13           13
18  2024-04-07              Jazz             1            1
19  2024-04-07             World             3            3

In [17]:
cleaned_bcr_df = cleaned_bcr_df[['start_date', 'genre', 'total_count']]
cleaned_bcr_df

      start_date      genre  total_count
0     2024-04-05  Undefined           45
1     2024-04-06  Undefined           72
2     2024-04-07      Blues            8
3     2024-04-07       Rock           64
4     2024-04-07    Country           15
...          ...        ...          ...
2303  2024-09-29       Jazz          475
2304  2024-09-29      World          824
2305  2024-09-29    Country         3381
2306  2024-09-30       Rock        12959
2307  2024-09-30  Undefined         3207

[2308 rows x 3 columns]

In [18]:
cleaned_bcr_df['start_date'] = pd.to_datetime(cleaned_bcr_df['start_date'])
cleaned_bcr_df.dtypes

C:\Users\tokar\AppData\Local\Temp\ipykernel_29244\2245384190.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_bcr_df['start_date'] = pd.to_datetime(cleaned_bcr_df['start_date'])

start_date     datetime64[ns]
genre                  object
total_count             int64
dtype: object

In [19]:
pivot_df = cleaned_bcr_df.pivot(index='start_date', columns='genre', values='total_count')

pivot_df.head(20)

genre,Alternative,Ballads/Romantic,Blues,Classical,Country,Dance/Electronic,Folk,Hip-Hop/Rap,Jazz,Latin,...,New Age,Other,Pop,R&B,Reggae,Religious,Rock,Theatre,Undefined,World
start_date,,,,,,,,,,,,,,,,,,,,,
2024-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN
2024-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,NaN
2024-04-07,8.0,NaN,8.0,4.0,15.0,1.0,5.0,11.0,1.0,3.0,...,NaN,2.0,13.0,13.0,4.0,20.0,64.0,NaN,86.0,3.0
2024-04-08,11.0,NaN,NaN,NaN,16.0,3.0,7.0,19.0,2.0,NaN,...,1.0,NaN,26.0,15.0,5.0,NaN,117.0,NaN,90.0,4.0
2024-04-09,22.0,NaN,10.0,NaN,23.0,7.0,9.0,33.0,7.0,NaN,...,NaN,NaN,41.0,23.0,8.0,29.0,168.0,NaN,97.0,8.0
2024-04-10,34.0,NaN,11.0,NaN,29.0,12.0,11.0,55.0,10.0,4.0,...,2.0,NaN,61.0,27.0,NaN,36.0,232.0,NaN,104.0,9.0
2024-04-11,49.0,NaN,14.0,NaN,76.0,17.0,16.0,85.0,17.0,6.0,...,NaN,NaN,72.0,40.0,11.0,52.0,314.0,NaN,114.0,12.0
2024-04-12,60.0,NaN,23.0,6.0,140.0,58.0,22.0,111.0,20.0,7.0,...,NaN,5.0,84.0,66.0,12.0,57.0,448.0,1.0,155.0,20.0
2024-04-13,74.0,NaN,33.0,7.0,199.0,98.0,27.0,143.0,26.0,10.0,...,NaN,7.0,105.0,91.0,NaN,61.0,583.0,NaN,184.0,52.0
2024-04-14,94.0,NaN,37.0,8.0,205.0,105.0,29.0,171.0,27.0,11.0,...,NaN,NaN,116.0,112.0,18.0,65.0,641.0,NaN,189.0,58.0
2024-04-15,97.0,NaN,38.0,NaN,209.0,107.0,32.0,187.0,28.0,NaN,...,NaN,9.0,125.0,113.0,NaN,NaN,677.0,NaN,194.0,59.0
2024-04-16,105.0,NaN,NaN,9.0,216.0,109.0,35.0,204.0,30.0,NaN,...,NaN,31.0,140.0,118.0,NaN,NaN,740.0,NaN,201.0,61.0
2024-04-17,115.0,NaN,39.0,10.0,225.0,113.0,39.0,226.0,31.0,12.0,...,NaN,32.0,154.0,128.0,NaN,67.0,822.0,NaN,210.0,62.0
2024-04-18,117.0,NaN,40.0,NaN,265.0,122.0,42.0,244.0,35.0,14.0,...,4.0,NaN,162.0,150.0,19.0,75.0,928.0,NaN,219.0,67.0
2024-04-19,137.0,NaN,42.0,13.0,333.0,144.0,47.0,264.0,38.0,20.0,...,5.0,34.0,181.0,192.0,20.0,94.0,1079.0,NaN,248.0,82.0
2024-04-20,153.0,NaN,71.0,15.0,392.0,179.0,51.0,308.0,40.0,23.0,...,NaN,38.0,207.0,213.0,25.0,111.0,1215.0,NaN,345.0,92.0
2024-04-21,158.0,NaN,72.0,NaN,405.0,187.0,56.0,317.0,NaN,25.0,...,NaN,NaN,218.0,230.0,26.0,128.0,1298.0,NaN,357.0,95.0
2024-04-22,160.0,NaN,NaN,NaN,409.0,192.0,NaN,318.0,41.0,NaN,...,NaN,NaN,233.0,231.0,29.0,NaN,1344.0,NaN,363.0,NaN
2024-04-23,170.0,NaN,75.0,NaN,418.0,196.0,59.0,330.0,NaN,NaN,...,NaN,40.0,245.0,233.0,NaN,NaN,1434.0,NaN,372.0,100.0
2024-04-24,181.0,NaN,NaN,16.0,429.0,198.0,62.0,345.0,43.0,26.0,...,NaN,NaN,266.0,237.0,31.0,130.0,1500.0,NaN,380.0,103.0

In [20]:
df_filled = pivot_df.fillna(method='ffill')
df_filled

genre,Alternative,Ballads/Romantic,Blues,Classical,Country,Dance/Electronic,Folk,Hip-Hop/Rap,Jazz,Latin,...,New Age,Other,Pop,R&B,Reggae,Religious,Rock,Theatre,Undefined,World
start_date,,,,,,,,,,,,,,,,,,,,,
2024-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN
2024-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,NaN
2024-04-07,8.0,NaN,8.0,4.0,15.0,1.0,5.0,11.0,1.0,3.0,...,NaN,2.0,13.0,13.0,4.0,20.0,64.0,NaN,86.0,3.0
2024-04-08,11.0,NaN,8.0,4.0,16.0,3.0,7.0,19.0,2.0,3.0,...,1.0,2.0,26.0,15.0,5.0,20.0,117.0,NaN,90.0,4.0
2024-04-09,22.0,NaN,10.0,4.0,23.0,7.0,9.0,33.0,7.0,3.0,...,1.0,2.0,41.0,23.0,8.0,29.0,168.0,NaN,97.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-26,658.0,7.0,315.0,69.0,3346.0,907.0,376.0,1915.0,471.0,328.0,...,11.0,141.0,1371.0,1737.0,263.0,316.0,12774.0,1.0,3134.0,808.0
2024-09-27,659.0,7.0,315.0,73.0,3364.0,909.0,376.0,1918.0,473.0,330.0,...,11.0,143.0,1379.0,1742.0,263.0,316.0,12816.0,1.0,3176.0,814.0
2024-09-28,661.0,7.0,315.0,73.0,3377.0,910.0,377.0,1927.0,474.0,334.0,...,11.0,143.0,1382.0,1747.0,263.0,316.0,12914.0,1.0,3204.0,823.0
2024-09-29,665.0,7.0,315.0,73.0,3381.0,911.0,377.0,1933.0,475.0,334.0,...,11.0,143.0,1383.0,1752.0,263.0,316.0,12945.0,1.0,3206.0,824.0
2024-09-30,665.0,7.0,315.0,73.0,3381.0,911.0,377.0,1933.0,475.0,334.0,...,11.0,143.0,1383.0,1752.0,263.0,316.0,12959.0,1.0,3207.0,824.0

In [21]:
# Create the bar chart race
bcr.bar_chart_race(
    df=df_filled,

    # Assign name to gif
    filename='bar_chart_race.gif',
    # Title of graph
    title='How Many Upcoming Shows?',
    # Make orientation horizontal
    orientation='h',
    #Sort in descending order so highest value remains at the top
    sort='desc',
    # How many bars will be displayed?
    n_bars=10,
    # Make it so bars change positions as values change
    fixed_order=False,
    # Filter column colors
    filter_column_colors = True,
    # Number of steps between each year
    steps_per_period=5,
    #Length of each period (milliseconds)
    period_length=250,
    # Make interpolate False
    interpolate_period=False
)

c:\Users\tokar\anaconda3\envs\dev\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
c:\Users\tokar\anaconda3\envs\dev\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
MovieWriter imagemagick unavailable; using Pillow instead.